{% extends "base.html" %}

{% block content %}
    <section class="new-game-btn">
        <form action="/">
            <button class="new-game">New Game</button>
        </form>
    </section>
    <section class="score">
        <h1 id="score-title">Score:</h1>
        <p id="score">0</p>
    </section>
    <section class="timer">
        <h1 id="timer-title">Time:</h1>
        <p id="timer" class="time-clock">60</p>
    </section>
    <section class="board">
        <table>
        {% for row in session['board_state'] %}
            <tr>
            {% for char in row %}
                <td>
                {{char}}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
    </section>
    <section class="word-input">
        <form id="player-input-form">
            <section class="player-input">
                <input type="text" name="player_input" id="player-input" placeholder="Found A Word?" autofocus>
            </section>
        </form>
    </section>
    <section class="notifications">
        <p id="message"></p>
    </section>
    <section class="timeout">
        <p id="timeout"></p>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            timer();
        })
    </script>
{% endblock %}